html {
    height:100%;
    width:100%;
}
.Home {
    background-image: url("https://bit.ly/3884Ra7");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    border-width: 0.5em;
    border-color: blueviolet;
    border-style: groove;
    font-weight: 0.6em;
}
.About {
    background-image: url("https://bit.ly/2OFo1ga");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    color:red;
    border-style: groove;
    border-color: blueviolet;
    border-width: 0.5em;
}
.About li {
    list-style-type: none;
    color:green;
    font-style: italic;
    font-weight: 600;
    background-color:yellow;
}
.About p {
    color:white;
    font-style: italic;
    font-weight: 500;
}
.Hobbies {
    background-image: url("https://bit.ly/2S9kQzr");
    background-size: cover;
    font-size: x-large;
    list-style: none;
    text-align: center;
    border-width: 0.5em;
    border-style: groove;
    border-color: coral;
}
.Home li {
    font-size:xx-large;
    list-style-type: none;
    color: chartreuse;
}
.Hobbies li {
    text-align: center;
    list-style: none;
    font-size: x-large;
    color:aqua;
    font-weight: 600;
    text-shadow: gray;
}
h1 {
    color:brown;
   font-size: 1.5em; 
   font-style: italic;
   background-color: greenyellow;
}
.Home p {
    color: orangered;
    font-size: xx-large;
    text-align: center;
    font-weight: 0.5em;
    background-color: khaki;
}
h2{
    color:whitesmoke;
    font-size:larger;

}
h3{
    color:black;
}
p {
    font-size: x-large;
    text-align: center;
    color:blue;
}
#menu {
    font-size: xx-large;
    list-style: none;
    background-color: darkgrey;
    color: chartreuse;
}
footer {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width:99%;
    margin-top:30%;
    overflow: hidden;
    background-color: aqua;
    height:150px;
}