html {
    height:%;
    width:100%;
}
.Home {
    background-image: url("https://bit.ly/3884Ra7");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    color:red;
}
#Home {
    color:red;
}
.About {
    background-image: url("https://bit.ly/39gT9du");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    color:red;
}
.About li {
    list-style-type: none;
}
.Hobbies {
    background-image: url("https://bit.ly/2S9kQzr");
    background-size: cover;
    font-size: x-large;
    list-style: none;
    text-align: center;
}
.Hobbies li {
    text-align: center;
    list-style: none;
    font-size: x-large;
}
#Hobbies {
    font-size: x-large;
    list-style: none;
    color:yellow;
}
h1 {
    color:brown;
   font-size: xx-large; 
   font-style: italic;
   background-color: greenyellow;
}
p {
    font-size: x-large;
    text-align: center;
    color: darkred;
}
footer {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width:99%;
    margin-top:30%;
    overflow: hidden;
    background-color: aqua;
}