.Home{
    background-image: url("https://bit.ly/3884Ra7");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: xx-large;
    font-style: italic;
}
.About {
    text-align: center;
    font-size: xx-large;
    font-style: italic;
    list-style: none;
    background-image: url("https://bit.ly/2v8hQu7");
    background-size: cover;
}
.About li {
    list-style-type: none;
}
.Hobbies {
    background-image: url("https://bit.ly/2S9kQzr");
    background-size: cover;
    font-size: x-large;
    list-style: none;
    text-align: center;
}
.Hobbies li {
    text-align: center;
    list-style: none;
    font-size: x-large;
}
#Hobbies {
    font-size: x-large;
    list-style: none;
}
h1 {
    color:brown;
   font-size: xx-large; 
   font-style: italic;
   background-color: greenyellow;
}
p {
    font-size: x-large;
    text-align: center;
}
footer {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width:99%;
    margin-top:30%;
    overflow: hidden;
}